* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body::-webkit-scrollbar {
  display: none;
}

/* DARK Mode  */
#dark {
  background-color: #000;
  /* color: rgb(245 186 13); */
}
a {
  text-decoration: none !important;
}
:focus {
  text-decoration: none !important;
}
ul {
  list-style: none;
}

/* media query  */
@media (max-width: 600px) {
  .container {
    padding-left: 0 !important;
    /* padding-right: 0 !important; */
  }
}

@media screen and (min-width:1200px) {
  .container{
      max-width: 1000px !important;
  }
}

@media (min-width: 1400px)
{    .container
  {
      max-width: 1200px;
  }
}